<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Covidex</title>
    <link rel="icon" type="image/x-icon" href="../../assetsHome/img/covidex-logo.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../cssHome/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../dashboardPatientAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="../../dashboardPatientAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../dashboardPatientAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../dashboardPatientAssets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/css/untitled.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/css/Simple-Slider.css">
    <link rel="stylesheet" href="../../doctorPatientStatusAssets/css/untitled.css">
    <link rel="stylesheet" href="../../contactTraceAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../contactTraceAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../contactTraceAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../contactTraceAssets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../contactTraceAssets/css/Article-List.css">

    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #cy {
            width: 2000px;
            height: 800px;

        }
    </style>


</head>
<nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3" id="mainNav" style="z-index: 10000;">
    <div class="container px-5" style="max-width: 100%;">
        <img src="../assetsHome/img/covidex-logo.ico" alt="logo" class=""
            style="width: 50px; height: 50px; margin-right: 10px; margin-bottom: 10px; margin-top: 10px; margin-left: 10px;" />
        <a class="navbar-brand fw-bold" href="/" style="font-size: 30px;">Covidex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
            </ul>
            <div sec:authorize="isAuthenticated()" class="justify-content-center d-flex">
                <button class="btn btn-primary rounded-pill px-3 mb-2 " id="sidebarToggleTop" style="margin-right: 10px;">
                    <span class="d-flex align-items-center">
                        <span class="small">Toggle Menu</span>
                    </span>
                </button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-danger rounded-pill px-3 mb-2 " data-bs-toggle="modal">
                        <span class="d-flex align-items-center">
                            <span class="small">Log Out &nbsp;</span>
                            <i class="bi bi-door-closed-fill"></i>
                        </span>
                    </button>
                </form>
            </div>

        </div>
    </div>
</nav>


<body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="background: #5726eb;">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-dark" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/doctorhome" style="padding-top: 39px;"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/doctorhome/about-me"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/doctorhome/patients"><i
                                class="fas fa-table"></i><span>Patients</span></a></li>

                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button" style="transform-style: preserve-3d;"></button></div>
            </div>
        </nav>
        <!-- End of Sidebar -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container">

                    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between" style="margin-top: 30px;">
                        <h1 style="font-weight: bold;font-size: 41px;" class="text-dark">Contact Trace Graph</h1>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <span>Rigth Click on a User for more Options!</span>
                    </div>
                    <div style="color: rgb(0,0,0);">
                        <div class="card shadow border-start-primary py-2"
                            style="width: auto;height: auto; margin-bottom: 100px;">
                            <div class="form-group mb-3">
                                <div id="formdiv-1">
                                    <div class="row d-flex d-flex justify-content-center align-items-center justify-content-center align-items-center"
                                        style="margin-right: 0px;margin-left: 0px;padding-top: 24px;width: auto;">
                                        <div class="col d-flex justify-content-center align-items-center">

                                            <script
                                                src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js"></script>
                                            <script
                                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                                            <script src="https://unpkg.com/layout-base/layout-base.js"></script>
                                            <script src="https://unpkg.com/cose-base/cose-base.js"></script>
                                            <script src="../../contactTraceAssets/cytoscape-cose-bilkent.js"></script>

                                            <div id="cy"></div>

                                            <script th:inline="javascript">


                                                /*<![CDATA[*/

                                                var jsonFromController = /*[[${elements}]]*/ 'null';
                                                var url = /*[[${url}]]*/ 'null';


                                                /*]]>*/


                                                var host = "http://" + window.location.hostname + ":" + window.location.port + url;

                                                var jsonElements = JSON.parse(jsonFromController);

                                                let cy = null;


                                                $.getJSON("../../cyto.json", function (data) {

                                                    cy = cytoscape({

                                                        container: document.getElementById('cy'),

                                                        elements: jsonElements,

                                                        layout: {
                                                            name: 'cose'
                                                        },



                                                        style:
                                                            [
                                                                {
                                                                    selector: 'node',
                                                                    style:
                                                                    {
                                                                        'font-size': '5',
                                                                        'color': 'white',
                                                                        'text-outline-width': 2,
                                                                        'text-outline-color': 'black',
                                                                        'background-color': '#888',
                                                                        'label': 'data(id)',
                                                                        "background-image": "../../dashboardAdminAssets/img/avatars/avatars/Blue_Pokeball.png",
                                                                        "background-fit": "cover cover",
                                                                    }
                                                                },
                                                                {
                                                                    selector: 'edge',
                                                                    style: {
                                                                        'width': 1,
                                                                        'target-arrow-shape': 'triangle',
                                                                        'curve-style': 'bezier'
                                                                    }
                                                                }
                                                            ]
                                                    });

                                                    cy.userZoomingEnabled(false);

                                                    cy.cxtmenu({

                                                        selector: 'node, edge',

                                                        commands:

                                                            [
                                                                {
                                                                    content: 'Flag/Unflag',
                                                                    select: function (ele) {
                                                                        console.log(host + "flag/" + ele.data().idNumber);
                                                                        window.open(host + "flag/" + ele.data().idNumber, "_self");
                                                                    }
                                                                },
                                                                {
                                                                    content: 'About Patient',
                                                                    select: function (ele) {
                                                                        window.open(host + "patients/" + ele.data().idNumber);
                                                                    }
                                                                },
                                                                {
                                                                    content: 'View Graph',
                                                                    select: function (ele) {
                                                                        window.open(host + "contact-trace/" + ele.data().idNumber, "_self");
                                                                    }
                                                                }
                                                            ],
                                                        activeFillColor: 'rgb(255,0,0)'
                                                    });

                                                });

                                                //resize the graph to fit the window when the browser resizes
                                                window.onresize = function (event) {
                                                    cy.resize();
                                                    cy.fit();
                                                };

                                                //resize the graph to fit the window when it becomes smaller than the graph
                                                window.onload = function (event) {
                                                    cy.resize();
                                                    cy.fit();
                                                };

                                                //when window is resized, resize the graph
                                                window.addEventListener("resize", function (event) {
                                                    cy.resize();
                                                    cy.fit();
                                                });



                                            </script>
                                        </div>
                                    </div>
                                    <div class="row d-md-flex d-xxl-flex justify-content-md-center align-items-md-center justify-content-xxl-start align-items-xxl-center"
                                        style="margin-right: 0px;margin-left: 0px;padding-top: 24px;width: auto;">
                                        <div class="col flex-shrink-1"
                                            style="font-family: Nunito, sans-serif;text-align: center;">
                                            <p class="d-flex justify-content-center"
                                                style="margin-left: 0%;font-family: Nunito, sans-serif;font-size: 39px;">
                                                <strong>Legend</strong>
                                            </p>
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;width: auto;"><img
                                                                src="../../contactTraceAssets/img/avatars/Blue_Pokeball.jpeg"
                                                                style="width: 42px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-table d-flex flex-shrink-1 justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;width: auto;height: auto;">
                                                                Contact-Traced</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                class="d-flex justify-content-center align-items-center"
                                                                src="../../contactTraceAssets/img/avatars/Green_Pokeball.jpeg"
                                                                style="width: 42px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-flex d-flex align-items-center justify-content-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Healthy</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                src="../../contactTraceAssets/img/avatars/Yelow_Pokeball.png"
                                                                style="width: 42px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-flex justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Asymptomatic</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                src="../../contactTraceAssets/img/avatars/Orange_Pokeball.jpeg"
                                                                style="width: 42px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-flex justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Symptomatic</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                src="../../contactTraceAssets/img/avatars/Red_Pokeball.png"
                                                                style="width: 44px;margin-left: 0px;margin-top: 4px;" />
                                                        </div>
                                                        <div class="col">
                                                            <h1 class="d-flex justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Critical</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                class="d-flex justify-content-center align-items-center"
                                                                src="../../contactTraceAssets/img/avatars/Picture1.png"
                                                                style="width: 68px;margin-left: 0px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-flex justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Infected</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                class="d-flex justify-content-center align-items-center"
                                                                src="../../contactTraceAssets/img/avatars/Red_circle.svg.webp"
                                                                style="width: 42px;margin-left: -2px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-flex justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Flagged</h1>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-center align-items-center"
                                                            style="padding-right: 0px;"><img
                                                                src="../../contactTraceAssets/img/avatars/Pan_Blue_Circle.png"
                                                                style="width: 39px;margin-left: 0px;" /></div>
                                                        <div class="col">
                                                            <h1 class="d-flex justify-content-center align-items-center"
                                                                style="font-size: 22px;margin-left: 0;margin-top: 9px;">
                                                                Selected Patient</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © CoviDex 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="../../contactTraceAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../contactTraceAssets/js/theme.js"></script>
    <script src="../../contactTraceAssets/js/cytoscape-ctxmenu.js"></script>
    <script src="../../contactTraceAssets/js/cytoscape-euler.js"></script>
</body>

</html>