<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Covidex</title>
    <link rel="icon" type="image/x-icon" href="assetsHome\img\covidex-logo.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
        rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="cssHome\styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="dashboardPatientAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="dashboardPatientAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="dashboardPatientAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="dashboardPatientAssets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <link rel="stylesheet" href="../patientAccountSettingsAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../patientAccountSettingsAssets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../patientAccountSettingsAssets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../patientAccountSettingsAssets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../patientAccountSettingsAssets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="../patientAccountSettingsAssets/css/Responsive-Form.css">



</head>
<nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3" id="mainNav" style="z-index: 10000;">
    <div class="container px-5" style="max-width: 100%;">
        <img src="../assetsHome/img/covidex-logo.ico" alt="logo" class=""
            style="width: 50px; height: 50px; margin-right: 10px; margin-bottom: 10px; margin-top: 10px; margin-left: 10px;" />
        <a class="navbar-brand fw-bold" href="/" style="font-size: 30px;">Covidex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
            </ul>
            <div sec:authorize="isAuthenticated()" class="justify-content-center d-flex">
                <button class="btn btn-primary rounded-pill px-3 mb-2 " id="sidebarToggleTop" style="margin-right: 10px;">
                    <span class="d-flex align-items-center">
                        <span class="small">Toggle Menu</span>
                    </span>
                </button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-danger rounded-pill px-3 mb-2 " data-bs-toggle="modal">
                        <span class="d-flex align-items-center">
                            <span class="small">Log Out &nbsp;</span>
                            <i class="bi bi-door-closed-fill"></i>
                        </span>
                    </button>
                </form>
            </div>

        </div>
    </div>
</nav>

<script th:inline="javascript">

    /*<![CDATA[*/

    var appointments = /*[[${appointments}]]*/ 'null';
    var doctorAvailability = /*[[${doctorAvailability}]]*/ 'test';


    /*]]>*/

    var makeTimeIntervals = function (startTime, endTime, increment) {
        startTime = startTime.toString().split(':');
        endTime = endTime.toString().split(':');
        increment = parseInt(increment, 10);

        var pad = function (n) { return (n < 10) ? '0' + n.toString() : n; },
            startHr = parseInt(startTime[0], 10),
            startMin = parseInt(startTime[1], 10),
            endHr = parseInt(endTime[0], 10),
            endMin = parseInt(endTime[1], 10),
            currentHr = startHr,
            currentMin = startMin,
            previous = currentHr + ':' + pad(currentMin),
            current = '',
            r = [];

        do {
            currentMin += increment;
            if ((currentMin % 60) === 0 || currentMin > 60) {
                currentMin = (currentMin === 60) ? 0 : currentMin - 60;
                currentHr += 1;
            }
            current = currentHr + ':' + pad(currentMin);
            r.push(previous + ' - ' + current);
            previous = current;
        } while (currentHr !== endHr);

        return r;
    };

    function populate(s1, s2) {
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);

        console.log(JSON.parse(doctorAvailability).fridayEnd)
        console.log(new Date(s1.value).getDay())

        if (new Date(s1.value).getDay() == 6) {
            doctorStartTime = JSON.parse(doctorAvailability).sundayStart;
            doctorEndTime = JSON.parse(doctorAvailability).sundayEnd;
        }

        if (new Date(s1.value).getDay() == 0) {
            doctorStartTime = JSON.parse(doctorAvailability).mondayStart;
            doctorEndTime = JSON.parse(doctorAvailability).mondayEnd;
        }

        if (new Date(s1.value).getDay() == 1) {
            doctorStartTime = JSON.parse(doctorAvailability).tuesdayStart;
            doctorEndTime = JSON.parse(doctorAvailability).tuesdayEnd;
        }

        if (new Date(s1.value).getDay() == 2) {
            doctorStartTime = JSON.parse(doctorAvailability).wednesdayStart;
            doctorEndTime = JSON.parse(doctorAvailability).wednesdayEnd;
        }

        if (new Date(s1.value).getDay() == 3) {
            doctorStartTime = JSON.parse(doctorAvailability).thursdayStart;
            doctorEndTime = JSON.parse(doctorAvailability).thursdayEnd;
        }

        if (new Date(s1.value).getDay() == 4) {
            doctorStartTime = JSON.parse(doctorAvailability).fridayStart;
            doctorEndTime = JSON.parse(doctorAvailability).fridayEnd;
        }

        if (new Date(s1.value).getDay() == 5) {
            doctorStartTime = JSON.parse(doctorAvailability).saturdayStart;
            doctorEndTime = JSON.parse(doctorAvailability).saturdayEnd;
        }

        console.log(doctorEndTime)

        var a = makeTimeIntervals(doctorStartTime, doctorEndTime, 30);

        s2.innerHTML = "";

        var JSONApp = JSON.parse(appointments);

        console.log(JSONApp[0]);

        for (var index in a) {

            var currentDateTime = new Date(s1.value);

            currentDateTime.setHours(a[index].split(" - ")[0].split(":")[0]);
            currentDateTime.setMinutes(a[index].split(" - ")[0].split(":")[1]);

            currentDateTime.setDate(currentDateTime.getDate() + 1);

            var booked = false;

            for (var check in JSONApp) {
                var pointerA = new Date(JSONApp[check].start.split(" ")[0].split("-")[0], JSONApp[check].start.split(" ")[0].split("-")[1] - 1, JSONApp[check].start.split(" ")[0].split("-")[2], JSONApp[check].start.split(" ")[1].split(":")[0], JSONApp[check].start.split(" ")[1].split(":")[1]);

                if (pointerA.getTime() === currentDateTime.getTime()) {
                    console.log(pointerA + " VS " + currentDateTime);
                    booked = true;
                    break;
                }
            }

            if (booked) {
                console.log("IT WORKED!!!");
                continue;
            }

            var newOption = document.createElement("option");
            newOption.value = a[index];
            newOption.innerHTML = a[index];
            s2.options.add(newOption);
        }
    }
</script>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
            style="background: #5726eb;">
            <div class="container-fluid d-flex flex-column p-0">
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-dark" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" style="padding-top: 39px;" href="/patienthome"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/patienthome/about-me"><i
                                class="fas fa-user"></i><span>My Profile</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/patienthome/reports"><i
                                class="fas fa-solid fa-book-medical"></i><span>Review Reports</span></a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/patienthome/aboutdoctor"><i
                                class="fas fa-solid fa-user-nurse"></i><span>About Doctor</span></a></li>

                    <li th:if="${patient.isPositive == true}" class="nav-item"><a class="nav-link"
                            href="/patienthome/contact-trace-report"><i class="fa fa-flag"></i><span>Contact Traced
                                Individuals</span></a> </li>
                    <li class="nav-item"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button" style="transform-style: preserve-3d;"></button></div>
            </div>
        </nav>
        <!-- End of Sidebar -->

        <!-- Book Appointment-->
        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form th:action="@{/patienthome/book-appointment}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel" style="margin-left:10%; color:black;">
                                Schedule an
                                Appointment</h2>
                        </div>
                        <div class="modal-body">

                            <div class="container" style="margin-top: 10px;">
                                <div class="panel panel-primary">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Appointment Date</label>
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='date' id="date" name="date" class="form-control"
                                                            onchange="populate(this.id,'time')" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-md-6'>
                                                <div class="form-group">
                                                    <label class="control-label">Appointment Time</label>
                                                    <select class="form-select" name="time" id="time">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Reason</label>
                                                    <textarea name="reason" style="height:100px; width:200px;"
                                                        class="form-control" reason="reason" id="reason"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>





        <div id="content-wrapper" class="d-flex flex-column rounded-left " style="z-index: 1000;">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4"
                            style="margin-top: 30px;">
                            <h1 style="font-weight: bold;font-size: 41px;" class="text-dark">Edit Account</h1>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-12 col-lg col-xl-12">
                            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">
                                    <form autocomplete="off" action="#" th:action="@{/patienthome/edit-profile}"
                                        method="post" class="m-t registerForm" role="form" data-toggle="validator">

                                        <!-- Register Form -->
                                        <div class="user-details">
                                            <div class="input-box mb-3" style="text-align: left;">
                                                <label for="exampleFormControlInput1" class="form-label">
                                                    Phone Number</label>
                                                <input class="form-control" type="text"
                                                    style="margin-left:0px;font-family:Roboto, sans-serif;"
                                                    th:value="${patient.phoneNumber}" placeholder="Enter Phone Number"
                                                    required="" name="phoneNumber">
                                            </div>
                                            <div class="input-box mb-3" style="text-align: left;">
                                                <label for="exampleFormControlInput1" class="form-label">Address</label>
                                                <input class="form-control" type="text"
                                                    style="margin-left:0px;font-family:Roboto, sans-serif;"
                                                    name="address" th:value="${patient.address}"
                                                    placeholder="Enter Address" required="">
                                            </div>
                                            <div class="input-box mb-3" style="text-align: left;">
                                                <label for="exampleFormControlInput1" class="form-label">Gender</label>
                                                <select class="form-select" style="font-family:Roboto, sans-serif;"
                                                    name="gender" th:value="${patient.gender}" required="">


                                                    <div
                                                        th:if="${patient.gender == T(io.minicap.covid19trackingApp.appUsers.gender).male}">
                                                        <option value="male" selected="">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </div>

                                                    <div
                                                        th:if="${patient.gender == T(io.minicap.covid19trackingApp.appUsers.gender).female}">
                                                        <option value="male">Male</option>
                                                        <option value="female" selected="">Female</option>
                                                        <option value="other">Other</option>
                                                    </div>

                                                    <div
                                                        th:if="${patient.gender == T(io.minicap.covid19trackingApp.appUsers.gender).other}">
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other" selected="">Other</option>
                                                    </div>

                                                    <div th:if="${patient.gender == null}">
                                                        <option value="" selected="">Select Gender</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </div>

                                            </div>
                                            </select>
                                        </div>
                                        <div class="input-box mb-3" style="text-align: left;">
                                            <label for="exampleFormControlInput1" class="form-label">Birth Date</label>
                                            <input class="form-control" style="font-family:Roboto, sans-serif;"
                                                name="birthDate" type="date" th:value="${patient.dob}" required="">
                                        </div>

                                        <div class="input-box mb-3" style="text-align: left;">
                                            <label for="exampleFormControlInput1" class="form-label">Number of COVID-19
                                                Vaccination&nbsp;Doses</label>
                                            <select class="form-select" style="font-family:Roboto, sans-serif;"
                                                th:value="${patient.numOfDoses}" name="numOfDoses">

                                                <div th:if="${patient.enabled == false}">
                                                    <option value="" selected="">Select Number of Doses</option>
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3 or More</option>
                                                </div>
                                                <div th:if="${patient.numOfDoses == 0 && patient.enabled == true}">
                                                    <option value="0" selected="">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3 or More</option>
                                                </div>
                                                <div th:if="${patient.numOfDoses == 1}">
                                                    <option value="0">0</option>
                                                    <option value="1" selected="">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3 or More</option>
                                                </div>

                                                <div th:if="${patient.numOfDoses == 2}">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2" selected="">2</option>
                                                    <option value="3">3 or More</option>
                                                </div>

                                                <div th:if="${patient.numOfDoses >= 3}">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3" selected="">3 or More</option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="input-box mb-3" style="text-align: left;">
                                            <label for="exampleFormControlInput1" class="form-label">Are You Diagnosed
                                                With COVID-19?</label>
                                            <select class="form-select" style="font-family:Roboto, sans-serif;"
                                                th:value="${patient.isPositive}" name="isPositive">

                                                <div th:if="${patient.isPositive == true}">
                                                    <option value="true" selected="">Yes</option>
                                                    <option value="false">No</option>
                                                </div>

                                                <div th:if="${patient.isPositive == false && patient.enabled == true}">
                                                    <option value="true">Yes</option>
                                                    <option value="false" selected="">No</option>
                                                </div>

                                                <div th:if="${patient.enabled == false}">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                    <option value="" selected="">Please Select</option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="input-box mb-3" style="text-align: left;">
                                            <label for="exampleFormControlInput1" class="form-label">What
                                                Variant&nbsp;of COVID-19 Are You Infected With?</label>
                                            <select class="form-select" style="font-family:Roboto, sans-serif;"
                                                th:value="${patient.varientType}" name="varientType">

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).alpha}">
                                                    <option value="alpha" selected="">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).beta}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta" selected="">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).gamma}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma" selected="">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).delta}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta" selected="">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).omicron}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron" selected="">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).other}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other" selected="">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).none}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none" selected="">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>

                                                <div
                                                    th:if="${patient.varientType == T(io.minicap.covid19trackingApp.appUsers.varientType).unknown}">
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown" selected="">Unknown</option>
                                                </div>

                                                <div th:if="${patient.varientType == null}">
                                                    <option value="" selected="">Variant</option>
                                                    <option value="alpha">Alpha</option>
                                                    <option value="beta">Beta</option>
                                                    <option value="gamma">Gamma</option>
                                                    <option value="delta">Delta</option>
                                                    <option value="omicron">Omicron</option>
                                                    <option value="other">Other</option>
                                                    <option value="none">None</option>
                                                    <option value="unknown">Unknown</option>
                                                </div>
                                            </select>
                                        </div>
                                        <div class="input-box mb-3" style="text-align: left;">
                                            <label for="exampleFormControlInput1" class="form-label">What Best Describes
                                                Your Infection Status?</label>
                                            <select class="form-select" style="font-family:Roboto, sans-serif;"
                                                th:value="${patient.infectionStatus}" name="infectionStatus">

                                                <div
                                                    th:if="${patient.infectionStatus == T(io.minicap.covid19trackingApp.appUsers.infectionStatus).contactTraced}">
                                                    <option value="contactTraced" selected="">Contact Traced
                                                    </option>
                                                    <option value="asymptomatic">Asymptomatic</option>
                                                    <option value="symptomatic">Symptomatic</option>
                                                    <option value="critical">Symptomatic Critical</option>
                                                    <option value="none">Other</option>
                                                </div>

                                                <div
                                                    th:if="${patient.infectionStatus == T(io.minicap.covid19trackingApp.appUsers.infectionStatus).asymptomatic}">
                                                    <option value="contactTraced">Contact Traced</option>
                                                    <option value="asymptomatic" selected="">Asymptomatic</option>
                                                    <option value="symptomatic">Symptomatic</option>
                                                    <option value="critical">Symptomatic Critical</option>
                                                    <option value="none">Other</option>
                                                </div>

                                                <div
                                                    th:if="${patient.infectionStatus == T(io.minicap.covid19trackingApp.appUsers.infectionStatus).symptomatic}">
                                                    <option value="contactTraced">Contact Traced</option>
                                                    <option value="asymptomatic">Asymptomatic</option>
                                                    <option value="symptomatic" selected="">Symptomatic</option>
                                                    <option value="critical">Symptomatic Critical</option>
                                                    <option value="none">Other</option>
                                                </div>

                                                <div
                                                    th:if="${patient.infectionStatus == T(io.minicap.covid19trackingApp.appUsers.infectionStatus).critical}">
                                                    <option value="contactTraced">Contact Traced</option>
                                                    <option value="asymptomatic">Asymptomatic</option>
                                                    <option value="symptomatic">Symptomatic</option>
                                                    <option value="critical" selected="">Symptomatic Critical
                                                    </option>
                                                    <option value="none">Other</option>
                                                </div>

                                                <div
                                                    th:if="${patient.infectionStatus == T(io.minicap.covid19trackingApp.appUsers.infectionStatus).none}">
                                                    <option value="contactTraced">Contact Traced</option>
                                                    <option value="asymptomatic">Asymptomatic</option>
                                                    <option value="symptomatic">Symptomatic</option>
                                                    <option value="critical">Symptomatic Critical</option>
                                                    <option value="none" selected="">Other</option>
                                                </div>

                                                <div th:if="${patient.infectionStatus == null}">
                                                    <option value="" selected="">Please Select</option>
                                                    <option value="contactTraced">Contact Traced</option>
                                                    <option value="asymptomatic">Asymptomatic</option>
                                                    <option value="symptomatic">Symptomatic</option>
                                                    <option value="critical">Symptomatic Critical</option>
                                                    <option value="none">Other</option>
                                                </div>
                                            </select>
                                        </div>
                                        <hr class="my-4">
                                        <div>
                                            <input class="registerBtn btn btn-primary btn-lg" type="submit"
                                                value="Submit" />
                                        </div>
                                </div>
                                </form>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Covidex 2022</span></div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>

    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script>
        var today = new Date();
        var currTime = today.getTime();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("date").setAttribute("min", today);
        document.getElementById("time").setAttribute("min", currTime);
        console.log(today)
    </script>
    <script src="../patientAccountSettingsAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../patientAccountSettingsAssets/js/bs-init.js"></script>
    <script src="../patientAccountSettingsAssets/js/theme.js"></script>
</body>

</html>